name: CI

on:
  push:
    branches: [ main, test, prod ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Dependencies
        run: make deps

      - name: CI checks
        run: make ci

      - name: Build
        run: make build
